{% extends "base/base.html" %}

{% block title %}
Projects | BugTracker
{% endblock %}

{% block navbar_title %}
Projects
{% endblock %}

{% block content %}

{% load permissions %}

    <h1>Projects</h1>

    {% if request.user|has_permission:"create_project" %}
        <p>
            <a href="{% url 'projects:create' %}">
                Create Project
            </a>
        </p>
    {% endif %}

    <hr>

    {% for project in projects %}

        <article>

            <h2>
                <a href="{% url 'projects:detail' project.id %}">
                    {{ project.name }}
                </a>
            </h2>

            <p>
                Key:
                {{ project.project_key }}
            </p>

            <p>
                Manager:
                {{ project.manager.username }}
            </p>

            <p>
                Status:
                {{ project.get_status_display }}
            </p>

            <a href="{% url 'projects:detail' project.id %}">
                View Project
            </a>

        </article>

        <hr>

    {% empty %}

        <p>No projects found.</p>

    {% endfor %}


{% endblock %}


